@import 'tailwindcss';

@font-face {
  font-family: 'Karla';
  src: url('../assets/fonts/static/Karla-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('../assets/fonts/static/Karla-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('../assets/fonts/Karla-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 400;
  font-style: italic;
}

@theme {
  /* Primary */
  --color-green-lighter: hsl(148, 38%, 91%);
  --color-green-medium: hsl(169, 82%, 27%);
  --color-red: hsl(0, 66%, 54%);

  /* Neutral */
  --color-white: hsl(0, 0%, 100%);
  --color-grey-medium: hsl(186, 15%, 59%);
  --color-grey-darker: hsl(187, 24%, 22%);

  /* Font family */
  --font-karla: 'Karla', sans-serif;
}

.text-field {
  @apply flex flex-col gap-1 flex-1;
}

.text-field__required {
  color: var(--color-green-medium);
}

.text-field__label {
  font-size: 0.875rem;
}

.text-field__input {
  @apply flex items-center w-full rounded-lg border px-3 py-1 border-grey-medium hover:border-green-medium cursor-pointer hover:shadow-[0_0_1px_#87a3a6] focus:border-green-medium focus:outline-0 focus:shadow-[0_0_2px_#87a3a6];
}

.text-field__input--error {
  @apply border-red;
}

.radio-field {
  @apply pt-1 flex flex-col gap-2;
}

.radio-option {
  @apply flex items-center w-full rounded-lg gap-1 border px-3 py-1.5 border-grey-medium hover:border-green-medium cursor-pointer hover:shadow-[0_0_1px_#87a3a6] has-checked:bg-green-lighter;
}

.field__error {
  @apply text-red text-sm opacity-0;
}

.field__error--show {
  @apply opacity-100;
}

.toast {
  @apply fixed md:absolute opacity-0 top-10 left-1/2 -translate-x-1/2 flex flex-col gap-2 p-3 min-w-90 bg-grey-darker text-white rounded-lg transition-opacity duration-400;
}

.toast--show {
  @apply opacity-100;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
